<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{fech}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let f of fcompra">
                <ion-icon slot="start" name = "basket"></ion-icon>
                <ion-label>
                  <b>Usuario:</b> {{f.nombre}} {{f.apellido}}  <br>
                  <b>Proveedor:</b> {{f.nombre_proveedor}} {{f.apellido_proveedor}}<br>
                  <b>Empresa:</b> {{f.empresa}}<br>
                  <b>Descripción:</b> {{f.descripcion}}<br>
                  <b>Total:</b> {{f.total_pagar}}<br>
                </ion-label>
    </ion-item>
    <ion-item>
                <ion-icon slot="start" name = "cash"></ion-icon>
                <ion-label>
                  <b>Total compras: {{total}}</b>
                </ion-label>
              </ion-item>
</ion-content>