<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{fech}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list *ngFor="let deposito of dep">
    <ion-item-divider color="success" >
        <ion-label>{{deposito.entidad}}</ion-label>
      </ion-item-divider>
      <ion-item>
        <ion-label>{{deposito.motivo}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>{{deposito.nombre}} / {{deposito.num_cta}}</ion-label>
      </ion-item>
      <ion-item>
          <ion-label>Tipo de cuenta: {{deposito.tp_descripcion}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Monto: ${{deposito.monto}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>Responsable: {{deposito.nombre_usuario}}</ion-label>
            </ion-item>
 
  </ion-list>
</ion-content>

