<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Reporte General Específico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-group >
          <ion-item-divider color="secondary" >
            <ion-label >compras {{ge.totalCompra}}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>depositos: ${{ge.totalDepositos}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>egresos: {{ge.totalEgresos}}</ion-label>
          </ion-item>
          <ion-item>
              <ion-label>ventas: {{ge.totalVentas}}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>utilidad: {{ge.utilidad}}</ion-label>
              </ion-item>
        </ion-item-group>
     </ion-list>
</ion-content>
