<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Gasto Mensual</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let g of gast">
        <ion-item-group >
          <ion-item-divider color="secondary" >
            <ion-label >{{g.descripcion}}</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Pago: ${{g.gasto_total}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-label>Usuario: {{g.user}}</ion-label>
          </ion-item>
        </ion-item-group>
            </ion-list>
</ion-content>
