
<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
              <ion-item *ngFor="let u of users">
                <ion-icon slot="start" name = "person"></ion-icon>
                <ion-label>
                  <b>Nombres:</b> {{u.nombre}} <br>
                  <b>Apellidos:</b> {{u.apellido}}<br>
                  <b>Cédula:</b> {{u.cedula}}<br>
                  <b>Usuario:</b> {{u.usuario}}<br>
                  <b>Email:</b> {{u.email}}<br>
                </ion-label>
              </ion-item>
  </ion-list>
</ion-content>


