<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reporte de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
              <ion-item routerLink = '/fac-diario'>
                  <ion-icon slot="start" name = "document"></ion-icon>
                  <ion-label>
                    Reporte diario
                  </ion-label>
              </ion-item>
              <ion-item routerLink = '/fac-mensual'>
                  <ion-icon slot="start" name = "document"></ion-icon>
                  <ion-label>
                    Reporte mensual
                  </ion-label>
              </ion-item>
              <ion-item routerLink = '/fac-especifico'>
                  <ion-icon slot="start" name = "document"></ion-icon>
                  <ion-label>
                    Reporte específico
                  </ion-label>
              </ion-item>
  </ion-list>
</ion-content>