<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/bienvenida.png" alt="" />
      <ion-card-header>
        <ion-card-title>App de reporte</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p></p>
        <body>
        <!-- <ion-button (click)="getAllUser()">Obtener usuarios</ion-button>
        <button (click)="prueba()">prueba</button> -->
        </body>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Gestiones que podrás revisar : </ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="bed"></ion-icon>
        <ion-label>Habitaciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Usuarios</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="calculator"></ion-icon>
        <ion-label>Gastos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cash"></ion-icon>
        <ion-label>Depósitos</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="cash"></ion-icon>
        <ion-label>Ventas</ion-label>
      </ion-item>
    </ion-list>
    <ion-item>
        <label>Dirigite al menú y visualizaras las opciones de reportes..</label>
      </ion-item>
</ion-content>
